.Hero-Body p {
    font-size: 25px;
}

.Hero-Body img {
    position: relative;
    top: -10px;
    max-width: 400px;
    margin-left: 1%;
    margin-right: 1%;
}

#UCRBear {
    max-width: 130px;
    border-radius: 2.8rem;
}

#UCRBook {
    max-width: 150px;
    border-radius: 4.5rem;
}