.CS100 {
    background-color: black;
    color: white;
    font-weight: bold;
    max-width: 300px;
    height: 300px;
    border-radius: 1.2rem;
    border-color: white;
    border-style: solid;
    padding: 2px;
    position: relative;
    left: 200px;
    top: -10px;
}

.CS152 {
    background-color: black;
    color: white;
    font-weight: bold;
    max-width: 300px;
    height: 300px;
    border-radius: 1.2rem;
    border-color: white;
    border-style: solid;
    padding: 2px;
    position: relative;
    top: -320px;
    left: 600px;
}

.CS165 {
    background-color: black;
    color: white;
    font-weight: bold;
    max-width: 300px;
    height: 300px;
    border-radius: 1.2rem;
    border-color: white;
    border-style: solid;
    padding: 2px;
    position: relative;
    top: -630px;
    left: 1000px;
}