#root {
  width: 1548px;
  /*max-width: 1280px;*/
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.WebTitle {
  font-size: 40px;
}

body {
  background-color: #023047;
  overflow-y: auto;
  margin: auto; 
  height: 100%;
}

.NavBar {
  /*background-color: red;*/
  border: 2px;
  height: 50px;
}

.NavBar button {
  margin-top: 0.2%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  max-width: 200px;
  background-color: #e76f51;
}

.WebTitle {
  color: lightgreen;
  /*background-color: green;*/
  width: 800px;
  position: relative;
  left: 350px;
  padding: 2px;
}

.WebTitle h1 {
  font-size: 40px;
  text-decoration: underline;
}

.Website-Body {
  /*background-color: orangered;*/
  width: 100%;
  margin-top: 5%;
  min-height: 100vh;
  height: 2700px;
}

.Hero-Section {
  /*background-color: yellowgreen;*/
  height: 300px;
  border-top: grey;
  border-top-style: dashed;
  border-bottom: grey;
  border-bottom-style: dashed;
}

.Hero-Section:hover {
  background-color: navy;
  border-top-style: solid;
  border-bottom-style: solid;
}

.AboutMe-Section {
  /*background-color: grey;*/
  height: 450px;
  margin-top: 1%;
  margin-bottom: 1%;
  border-top: grey;
  border-top-style: dashed;
  border-bottom: grey;
  border-bottom-style: dashed;
}

.AboutMe-Section:hover {
  background-color: navy;
  border-top-style: solid;
  border-bottom-style: solid;
}

.Education-Section {
  /*background-color: navy;*/
  height: 500px;
  margin-top: 1%;
  margin-bottom: 1%;
  border-top: grey;
  border-top-style: dashed;
  border-bottom: grey;
  border-bottom-style: dashed;
}

.Education-Section:hover {
  background-color: navy;
  border-top-style: solid;
  border-bottom-style: solid;
}

.Projects-Section {
  /*background-color: purple;*/
  height: 390px;
  margin-top: 1%;
  margin-bottom: 1%;
  border-top: grey;
  border-top-style: dashed;
  border-bottom: grey;
  border-bottom-style: dashed;
}

.Projects-Section:hover {
  background-color: navy;
  border-top-style: solid;
  border-bottom-style: solid;
}

.Interests-Section {
  /*background-color: magenta; */
  height: 500px;
  margin-top: 1%;
  margin-bottom: 1%;
  border-top: grey;
  border-top-style: dashed;
  border-bottom: grey;
  border-bottom-style: dashed;
}

.Interests-Section:hover {
  background-color: navy;
  border-top-style: solid;
  border-bottom-style: solid;
}

.Contact-Section {
  /*background-color: orange;*/
  height: 400px;
  margin-top: 1%;
  margin-bottom: 1%;
  border-top: grey;
  border-top-style: dashed;
  border-bottom: grey;
  border-bottom-style: dashed;
}

.Contact-Section:hover {
  background-color: navy;
  border-top-style: solid;
  border-bottom-style: solid;
}