#root {
  width: 1548px;
  /*max-width: 1280px;*/
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.WebTitle {
  font-size: 40px;
}

body {
  background-color: #023047;
  overflow-y: auto;
  margin: auto; 
  height: 100%;
}

.NavBar {
  background-color: red;
  border: 2px;
}

.WebTitle {
  color: lightgreen;
  /*background-color: green;*/
  width: 800px;
  position: relative;
  left: 350px;
  padding: 2px;
}

.WebTitle h1 {
  font-size: 40px;
  text-decoration: underline;
}

.Website-Body {
  background-color: orangered;
  width: 100%;
  min-height: 100vh;
  height: 200px;
}

.Hero-Section {
  background-color: yellowgreen;
  height: 300px;
}

.AboutMe-Section {
  background-color: gray;

}

.Education-Section {
  background-color: black;
}

.Projects-Section {
  background-color: purple;
}

.Interests-Section {
  background-color: magenta;
}

.Contact-Section {
  background-color: orange;
  height: 250px;
}

.Contact-Section img {
  max-width: 80px;
  position: relative;
  left: -40%;
  border-radius: 2.65rem;
}

.Contact-Section img:hover {
  transition-duration: 600ms;
  transform: scale(1.5);
}