h2 {
    font-size: 26px;
}
h3 {
    text-decoration: underline;
}

.Academic-History {
    /*background-color: green;*/
    position: relative;
    left: 430px;
    max-width: 550px;
    text-align: left;
}

.Academic-History ul {
    text-align: left;
}

.Academic-History li {
    position: relative;
}

.Skills-Section {
   text-align: left;
   margin-left: 1%;
   position: relative;
   top: -100px;
}

.Skills-Section ul  {
    text-align: left;
}

#CplusplusID {
    position: relative;
    top: -390px;
    left: -250px;
    max-width: 80px;
    border-radius: 1.5rem;
}

#GitID{
    max-width: 80px;
    position: relative;
    left: -570px;
    top: -300px;
    border-radius: 2.65rem;
}

#CSSID {
    max-width: 80px;
    position: relative;
    top: -180px;
    left: -580px;
}

#SQLID {
    max-width: 150px;
    position: relative;
    top: -100px;
    left: -600px;
    border-radius: 1.2rem;
}

#SQAID {
    position: relative;
    top: -260px;
    left: 600px;
    max-width: 150px;
    border-radius: 1.5rem;
}

#SQAID:hover {
    transition-duration: 600ms;
    transform: scale(1.5);
}

.Highschool-coursework {
    /*background-color: red;*/
    position: relative;
    top: -500px;
    left: 1180px;
    width: 300px;
    height:80px;
    text-align: left;
}

.UCR-coursework {
    /*background-color: orangered;*/
    position: relative;
    top: -470px;
    left: 550px;
    max-width: 350px;
    height: 120px;
    text-align: left;
}